include ../includes/mixin.pug
include ../includes/vars.pug

doctype html
html(lang='en')
  head
    include ../includes/head.pug
  body
    .section-holder
      //- add a profile with the following: +profile(the  variable name) and it'll include them in
      +profile(charlotte)
      +profile(bruno)
      +profile(eimantas)
      +profile(gavin)
      +profile(rob)
      +profile(adam)
      +profile(aidan)
      +profile(jacob)
      +profile(kieren)
      +profile(bash)
      //+profile(gareth)
      +profile(jim)
      +profile(jane)
      +profile(guy)
      +profile(trixie)
