//-copy the following if you want to make a new person:

  -  var 'person name' = {img: '', name: '', role: '', desc: '', link: '', linked: ''}

  this is just a template of making someone's profile, if the person does not have a linkedin account dont need to require link or linked

  'img' will load their images if a class is made in the ../sass/comps/_profileimg.sass
  'name' is the name of the person
  'role' is their role
  'desc' is the small description for each person
  'link' if 'yes' then a linkedin icon is shown
  'linked' is the link for the linkedin profile

-
  var charlotte = {
    img: 'charlotte',
    name: 'Charlotte Boynton',
    role: 'Sales & Office Manager',
    desc: 'Charlotte is an organised, hard-working individual who has great communication skills and is good at making decisions.',
    link: 'yes',
    linked: 'https://www.linkedin.com/in/charlotte-boynton-843421116/'
  }

  var bruno = {
    img: 'bruno',
    name: 'Bruno Cugliandro',
    role: 'Technical Manager',
    desc: 'Bruno brings several years of experience supporting small business networks, repairing systems and software.',
    link: 'yes',
    linked: 'https://www.linkedin.com/in/bruno-cugliandro-b8a640109/'
  }

  var eimantas = {
    img: 'eimantas',
    name: 'Eimantas Zolondauskis',
    role: 'Lead Developer',
    desc: 'Eimantas is our award-winning website programmer. If its a complex application or programming problem, he’ll be able to fix it!',
    link: 'yes',
    linked: 'https://www.linkedin.com/in/zolondauskis/'
  }

  var gavin = {
    img: 'gavin',
    name: 'Gavin Foster',
    role: 'IT Field Technician',
    desc: 'Gavin has been in the IT Support sector for many years, even before it was his job, one of the best IT support Engineers you could ask for!',
    link: 'yes', linked: 'https://www.linkedin.com/in/gavin-foster-97649a56/'
  }

  var rob = {
    img: 'rob',
    name: 'Rob Fox',
    role: 'IT Field Technician',
    desc: 'Rob has a strong interest in computers and their applications that have shaped the world we are in today!'
  }

  var aidan = {
    //needs a img
    name: 'Aidan Holmes',
    role: 'IT Field Technician'
    // needs a description
  }

  var adam = {
    img: 'adam',
    name: 'Adam Foxton',
    role: 'Junior IT Technician',
    desc: "Adam is a goal-oriented and optimistic hard-worker. He has turned his skills from being the family IT repair guy into a career."
  }

  var jacob = {
    //needs a img
    name: 'Jacob Wood',
    role: 'Junior IT Technician'
    // needs a description
  }

  var kieren = {
    //needs a img
    name: 'Kieren Lewis',
    role: 'Apprentice IT Technician',
    desc: 'Kieren is a technician learning new skills everyday to support existing and new customers to the best of his ability.'
  }

  var bash = {
    img: 'bash',
    name: 'Bash Ridha',
    role: 'Apprentice Web Developer',
    desc: "Bash is kind and approachable individual who has a lot of knowledge in the tech world. His skills help solve many web problems."
  }

  var gareth = {
    img: 'gareth',
    name: 'Gareth',
    role: 'Apprentice Web Developer',
    desc: "he's a lovely person"
  }

  var dawid = {
    img: 'dawid',
    name: 'Dawid Duszynski',
    role: 'Junior Web Developer',
    desc: "Dawid’s focus of interests are in computers and a wide  variety of technologies. Previously an apprentice, his skills are well versed in many areas!"
  }

  var jim = {
    img: 'jim',
    name: "'JIM'",
    role: '24/7 Ticket request',
    desc: 'Say ‘hello’ to JIM, the ‘itsupport247’ Fresh Mango team member! JIM (for Job Information Management) is our online Ticket system available to customers 24/7, 365 days a year.'
  }

  var jane = {
    img: 'jane',
    name: 'Jane Metcalf',
    role: 'Director of Finance & Operations',
    desc: 'Jane keeps our office on track, handling the operation, finances and generally ensuring that the guys don’t go ‘full-geek’!',
    link: 'yes',
    linked: 'https://www.linkedin.com/in/jane-metcalf-b3216813/?originalSubdomain=uk'
  }

  var guy = {
    img: 'guy',
    name: 'Guy Phoenix',
    role: 'Managing Director',
    desc: 'Guy is an all rounder who specialises in website SEO, marketing, cyber security and general flag-waving for the company. He loves music, sailing, karaoke, the sun and ‘playing’ his guitar.',
    link: 'yes',
    linked:'https://www.linkedin.com/in/guyphoenix/'
  }

  var trixie = {
    img: 'dog',
    name: 'Trixie',
    role: 'Chief Morale Officer',
    desc: "Trixie rules the roost in her home and our offices. Her stressful life consists of sleeping, eating, chasing waves on the beach, fetching stick and playing with her favourite toy ‘lamb chop’."
  }
